<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.mapper.read.Ka92AndKa94ReadMapper">
    <!--获取aaz356序列-->
    <select id="getAaz356" resultType="long">
        select se_aaz356.nextval from dual
    </select>
    <!--获取aaz328序列-->
    <select id="getAaz328" resultType="long">
        select se_aaz328.nextval from dual
    </select>
    <!--获取ka92和ka94所需数据-->
    <select id="getKa92AndKa94s" resultType="com.zx.pojo.Ka92AndKa94">
        select
            k.akb020 as akb020,
            k.akb020 || '' || d.mdtrtsn  as aaz217,
            k.akb020 || '' || d.mdtrtsn as aaz308,
            d.FEEDETL_ID as aaz213,
            NULL as ape835,
            d.det_rea as ape801,
            d.cnt as ape805,
            d.vola_det_amt as ape802,
            d.aaz319 as aaz319,
            d.admdvs as aaa027,
            k.akb020 as aab034,
            d.rule_type as ape800,
            d.akc308 as aze001,
            d.vola_cont as aae317
        FROM doc_suspt_detl_final d inner join kb01 k
        on d.medins_id = k.bkf498 where d.FEEDETL_ID is not null
    </select>
</mapper>
